<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="css/navbar-style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-style.css">
    <title>Blog-login</title>
</head>
<body>
    <nav> 
        <h1>Blog</h1>
        <u1 class="nav-links">
            <li><a href="./">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </u1>
     <div class="burger">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
         
     </div>
    </nav>

   <div class="loginform-container">
       
       <div class="right">
           <div class="login_title">
            <h2>Login</h2>

           </div>
       <!-- login form -->
        <form class="form" id="myform">
            <div class="form__input">
 
                <div class="input__label">
                <label for="Email">Email address</label><br>
                <div class="input_cover">
                    <input type="email" id="email" name="email" placeholder="Email address"
                required/> 
                </div>
                
                </div>
 
                <div class="input__label">
                <label for="password">Password</label><br>
                <div class="input_cover">
                    <input type="password" id="password" name="password" placeholder="Password"
                    required/> 
                </div>
                
                </div>

                <br>
             </div>
             
             <div class="form__button">
                 <button type="submit">Login</button>     
             </div>
                     
          
        </form>
        
    <script>
        //login form submit
        const myform=document.getElementById('myform');
        myform.addEventListener('submit',async e=>{
                e.preventDefault();
                const email=document.getElementById('email').value;
                const password=document.getElementById('password').value;
                const data={email, password};
                const option={
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify(data),
                };
                const responce=await fetch('/auth/login',option);
                const data1=await responce.json();
                console.log(data1.success);
                if(data1.success=="Sucessfully logged in"){
                    window.location.pathname = '/home'
                }
                else{
                    console.log("here");
                    alert("Username or Passowrd is incorrect");
                    window.location.pathname = '/profile'
                }

        
        });
  </script>
 
       </div>
      
   </div>
   <script>
    const navSlide=()=>{
        const burger=document.querySelector('.burger');
        const nav= document.querySelector('.nav-links');
        const navLinks=document.querySelectorAll('.nav-links li')
        burger.addEventListener('click',()=>{
            nav.classList.toggle('nav-active');
            navLinks.forEach((link,index)=>{
            if(link.style.animation){
                link.style.animation='';
            }
            else{
                link.style.animation=`navLinkFade 0.5s ease forwards ${index/7+.5}s`;
            }
        })
        })
        
    }
    navSlide();
</script>
</body>
</html>