<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/profile-style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Blog register</title>
</head>
<body>
    <nav> 
        <h1>Blog</h1>
        <u1 class="nav-links">
            <li><a href="./home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a onclick="logout()">Logout</a></li>
        </u1>
     <div class="burger">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
         
     </div>
    </nav>
    <div class="profile">
        <div class="profile__sidebar">
            <!-- user intoduction part -->
            <div class="profile__welcome">
                <div class="image"> 
                    <img alt="User Pic" 
                    src="/<%=user.profileImage%>" class="img-circle img-responsive"> 
                </div>
                <h3>Welcome <%= user.firstname%> <%=user.middlename%></h3>                 
            </div>

            <div class="profile__details">
                <h3>Profile Details</h3>
                
                <p>
                     Name : <%= user.firstname%> <%= user.middlename%> <%=user.lastname%>
                </p>
                <p> Email : <%=user.email%></p>
                <p> Mobile : <%=user.mobile%></p>
                <p> Intro : 
                    <div class="detail_cont">
                        <p>
                            <b>
                            <%=user.Intro%>

                        </b>
                        </p>
                    </div>                
                </p>
         <!-- edit details button -->
                <div class="detail__button">
                    <button type="submit" onclick="editdetails()">Edit</button>     
                </div>

            </div>

         </div>

         <div class="profile__post">
            <div class="post__welcome">
                <h3>Your posts</h3>
              </div>  
              <!-- upload a post section -->
              <div class="profile__details">
                <h3>Upload a post</h3>
                <form class="form" id="postupload">
                       
                       <div class="form__input">
                        <div class="post__label">
                        <label for="Title">Title</label>
                           <input type="text" id="title" name="title" placeholder="Title for post"
                           required/> 
                           </div>
                       </div>

                       <div class="form__input">
                        <div class="post__label">
                        <label for="content">Content</label>
                           <textarea class="content__field" type="text" id="content" name="content" placeholder="Whats on your mind about the post"
                           required> </textarea>
                           </div>
                       </div>
                       <div class="input__label">
                        <label for="mob_no" class="col-md-3 control-label">Post to Upload</label>
                        <div class="col-sm-9">
                            <input type="file" id="uploaded_image" class="uploaded_image" name="uploaded_image" accept="" onchange="upload()" required/>
                        </div> 
                       </div>


                       <div class="form__input">
                        <div class="post__label">
                        <label for="content">Select most suitable category</label>
                        <select class="selectpicker" data-style="btn-info" id="category" name="category">
                            <optgroup label="Select Table">
                                <option value="select">Select category</option>
                                 <option value="product">Product post</option>
                                 <option value="Romantic">Romantic post</option>
                                 <option value="Scenic">Nature and scenic beauty</option>
                                 <option value="News">News/Trending</option>
                                 <option value="Sports">Sports</option>
                                 <option value="Humour">Humour</option>
                                 <option value="Movies">Movies/Music</option>
                                 <option value="Photograpy">Photography</option>
                                 <option value="Quotes">Quotes/Memes</option>
                                 <option value="Photograpy">Photography</option>
                                 <option value="Advertise">Advertising post</option>
                                 <option value="Other">Other</option>
                            </optgroup>
                        </select>
                           </div>
                       </div>

                       

                       <div class="form__input">
                        <div class="post__label">
                        <label for="content">Summary for viewers</label>
                           <input class="content__field" type="text" id="summary" name="summary" placeholder="Summary for viewers"
                           required/> 
                           </div>
                       </div>
                     
                       <div class="upload__button">
                        <button type="submit">Upload post</button>     
                    </div>
                </form>
            </div>
            <!-- viewing users pervious posts -->
            <div class="post__details">
            <h3> Your previous posts</h3>
        </div>
        <%if(posts.length==0){%> 
            <div class="post__design">
            <h3>You haven't still uploaded any posts</h3>
            </div>
       <% }%>
       <!-- define varaible to keep track of number of posts displayed in the UI in blocks of 3in a row -->
            <%  i = 0%>
            <div class="post__list">
            <% while(i < posts.length){%>
                
                    <div class="post__design">

                        <% if(i < posts.length){%>
                            <div class="post__cubes">
                                <p><u> <%=posts[i].Title%></u></p> 
                                  <p><%=posts[i].Sumary%></p>
                                  <% if(posts[i].image){%>
                                  <div class="post__img"> 
                                      <img alt="post Pic" 
                                      src="/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                  </div>
                                  <% } %>
                                 
                                 
                                  <div class="cube__buttons">
                                <div class="postedit__button">
                                <button onclick="deletepost(this.value)" value="<%=posts[i].id%>">Delete</button>
                            </div>
                            
                                <div class="postedit__button">
                                    <button onclick="Editpost(this.value)" value="<%=posts[i].id%>">Edit</button>
                                </div>
                              </div>
                                  
                              </div>
                    <%}%>
                        <% i = i + 1%>
                        <% if(i < posts.length){%>
                            <div class="post__cubes">
                                <p><u> <%=posts[i].Title%></u></p> 
                                  <p><%=posts[i].Sumary%></p>
                                  <% if(posts[i].image){%>
                                  <div class="post__img"> 
                                      <img alt="post Pic" 
                                      src="/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                  </div>
                                  <% } %>
                                  <div class="cube__buttons">
                                    <div class="postedit__button">
                                        <button onclick="deletepost(this.value)" value="<%=posts[i].id%>">Delete</button>
                                    </div>
                                  <form action="/edit_post?post=<%=posts[i].id%>" method="POST">
                                      <div class="postedit__button">
                                          <button type="submit">Edit</button>     
                                      </div>
                                  </form>
                                </div>
                                  
                              </div>
                        <%}%>
                                      <% i = i + 1%>
                                      <% if(i < posts.length){%>
                                        <div class="post__cubes">
                                            <p><u> <%=posts[i].Title%></u></p> 
                                              <p><%=posts[i].Sumary%></p>
                                              <% if(posts[i].image){%>
                                              <div class="post__img"> 
                                                  <img alt="post Pic" 
                                                  src="/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                              </div>
                                              <% } %>
                                              <div class="cube__buttons">
                                                <div class="postedit__button">
                                                    <button onclick="deletepost(this.value)" value="<%=posts[i].id%>">Delete</button>
                                                </div>
                                              <form action="/edit_post?post=<%=posts[i].id%>" method="POST">
                                                  <div class="postedit__button">
                                                      <button type="submit">Edit</button>     
                                                  </div>
                                              </form>
                                            </div>
                                              
                                          </div>
                                    <%}%>
                                                  <% i = i + 1%>
                                                </div>

        
            <%}%>
        
        </div>
              
        <script>
            //edit button on the posts trigger this function
            async function Editpost(val){
                const id= val;
                const data={id};
                 console.log(data);
                const option={
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify(data),
                };
                 const responce=await fetch('/edit_post',option);
                 const data1=await responce.json();
                 if(data1.success=="ok")
                 {
                     const qs=data1.qs;
                     var params = jQuery.param(qs)
                     console.log(params);
                     window.location='/post_edit?'+params;
                 }
            }
            //upload a post
            async function upload(){
                console.log("wow");
                const formData=new FormData();
                const uploaded_image = document.getElementById('uploaded_image').files[0]; 
                formData.append("uploaded_image",uploaded_image);
                 const option={
                      method:'POST',
                      body:formData,
                 };
                 const responce=await fetch('/imageupload',option);
            }
             const postupload=document.getElementById('postupload');
        postupload.addEventListener('submit',async e=>{
                e.preventDefault();
                const title=document.getElementById('title').value;
                const content=document.getElementById('content').value;
                const category=document.getElementById('category').value;
                const summary=document.getElementById('summary').value;
                const data={title, content, category,summary}
                const option={
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify(data),
                };
                const responce=await fetch('/auth/upload',option);
                const data1=await responce.json();
                if(data1.success=="Posted"){
                    window.location.pathname = '/profile'
                }
                else{
                    alert(data1.success);
                    window.location.pathname = '/profile'
                }
               
        })
        //edit user details
        async function editdetails(){
            window.location.pathname = '/edit' //redirect to edit
        }
        //delete a post
      async function deletepost(value){
          const id= value;
       const data={id};
       const option={
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify(data),
                };
                const responce=await fetch('/auth/delete',option);
                const data1=await responce.json();
                if(data1.success=="deleted")
                {
                    window.location.pathname = '/profile'
                }
                else{
                    alert(data1.success);
                    window.location.pathname = '/profile'
                }
      }
//logout
      async function logout(){
            const id="1";
            const data={id};
            const option={
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify(data),
                };
                const responce=await fetch('/logout',option);
                const data1=await responce.json();
                if(data1.success=="logout successfull"){
                    alert(data1.success);
                    window.location.pathname='/'
                }
        }
        </script>
         

    </div>
 
  


   <script>
    const navSlide=()=>{
        const burger=document.querySelector('.burger');
        const nav= document.querySelector('.nav-links');
        const navLinks=document.querySelectorAll('.nav-links li')
        burger.addEventListener('click',()=>{
            nav.classList.toggle('nav-active');
            navLinks.forEach((link,index)=>{
            if(link.style.animation){
                link.style.animation='';
            }
            else{
                link.style.animation=`navLinkFade 0.5s ease forwards ${index/7+.5}s`;
            }
        })
        })
        
    }
    navSlide();
</script>
</body>
</html>