@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .post__view{
        flex-direction: column;
    }
    .postedit__img>img{
        width: 100%;
    }
    
}