@media screen and (max-width:768px){
    .profile{
        
        flex-direction: column;
    }
    
    
    .post__img>img{
        width: 100%;
    }
    .post__design{
        display: grid;
    }
    .post__cubes{
        max-width: 80%;
    }
    
}